@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --heading-font: "Jost", sans-serif;
  --regular-font: "Poppins", sans-serif;
  --cursive-font: "Dancing Script", cursive;
  --font-h1: 40px;
  --font-h2: 35px;
  --font-h3: 30px;
  --font-h4: 24px;
  --font-h5: 20px;
  --font-h6: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-xs-small: 12px;
  --weight-100: 100;
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;
  --logo-clr: #505d60;
  --logo-subclr: rgb(225, 14, 14);
  --yle-clr: #ffb703;
  --font-clr-dark-rglr: rgb(34, 34, 34);
  --font-clr-dark-light: rgb(70, 70, 70);
  --font-clr-white-rglr: rgb(255, 255, 255);
  --font-clr-white-light: rgb(240, 240, 240);
  --trans-fast: all .1s ease;
  --trans-nrml: all .2s ease;
  --trans-slow: all .35s ease;
  --border-radius-5px: 5px;
  --border-radius-10px: 10px;
  --border-radius-15px: 15px;
  --border-radius-20px: 20px;
  --border-radius-30px: 30px;
  --border-radius-circle: 50%;
  --box-shadow-nrml: 0 5px 10px -3px rgba(0,0,0,0.1);
  --box-shadow-rglr: 0 5px 15px -3px rgba(0,0,0,0.12);
  --box-shadow-lg: 0 4px 25px -3px rgba(0,0,0,0.15);
}

a, a:hover {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: var(--regular-font);
  -webkit-font-smoothing: antialiased;
}

header .top_nav {
  background-color: var(--logo-clr);
  color: #fff;
}
@media only screen and (max-width: 480px) {
  header .top_nav {
    display: none;
  }
}
header .top_nav ul {
  font-size: var(--font-xs-small);
}
header .top_nav ul:first-child {
  font-size: var(--font-xs-small);
}
header .top_nav ul:first-child li {
  background-color: #ffb703;
  color: #fff;
  width: 20px;
  height: 20px;
  padding-right: 0px;
  border-radius: var(--border-radius-circle);
  line-height: 18px;
  text-align: center;
  font-weight: var(--weight-600);
}
header .top_nav ul:first-child li::after {
  display: none;
}
header .top_nav ul li {
  position: relative;
  padding-right: 10px;
  cursor: pointer;
}
header .top_nav ul li::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #979797;
  right: 0;
}
header .top_nav ul li:last-child::after {
  display: none;
}
header .navbar.logo_nav {
  position: relative;
  background-image: url(../images/head.png);
  background-position-y: 10px;
  background-position-x: 80%;
  background-repeat: no-repeat;
  background-size: 90px;
}
@media only screen and (max-width: 480px) {
  header .navbar.logo_nav {
    background-image: unset;
  }
}
@media only screen and (max-width: 480px) {
  header .navbar .tollfree {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  header .navbar .navbar-brand img {
    width: 70px;
  }
}
header .navbar .navbar-brand .logo_name h3 {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  color: #e7a90e;
}
@media only screen and (max-width: 480px) {
  header .navbar .navbar-brand .logo_name h3 {
    font-size: 18px;
  }
}
header .navbar .navbar-brand .logo_name h4 {
  color: #35bf92;
  font-size: 20px;
  margin: 0;
}
@media only screen and (max-width: 480px) {
  header .navbar .navbar-brand .logo_name h4 {
    font-size: 16px;
  }
}
header .navbar .navbar-brand .logo_name span {
  font-size: 12px;
  color: black;
  display: block;
}
@media only screen and (max-width: 480px) {
  header .navbar .navbar-brand .logo_name span {
    width: auto;
    white-space: pre-line;
  }
}
header .main_menuWrapper {
  background: linear-gradient(to bottom, #fff 39%, #f7f7f7 70%);
  border: 1px solid #ebebeb;
}
@media only screen and (max-width: 480px) {
  header .main_menuWrapper {
    background: #083f49;
    border: unset;
  }
}
header .main_menuWrapper .navbar-nav .nav-item {
  border-right: 1px solid #ececec;
  padding: 5px;
}
@media only screen and (max-width: 480px) {
  header .main_menuWrapper .navbar-nav .nav-item {
    border-right: unset;
    width: 100%;
    padding-left: 15px;
  }
}
@media only screen and (max-width: 480px) {
  header .main_menuWrapper .navbar-nav .nav-item .nav-link {
    color: var(--font-clr-white-rglr);
  }
}
header .main_menuWrapper .navbar-nav .nav-item.active, header .main_menuWrapper .navbar-nav .nav-item:hover {
  background-color: var(--logo-clr);
}
header .main_menuWrapper .navbar-nav .nav-item.active .nav-link, header .main_menuWrapper .navbar-nav .nav-item:hover .nav-link {
  color: var(--font-clr-white-rglr);
}

#hero_banner .hero_bannerRight {
  background: #083f49;
  color: #ffb703;
}
#hero_banner .hero_bannerRight .hero_bannerRightWrapper {
  padding: 20px;
  text-align: left;
  position: relative;
}
@media only screen and (max-width: 480px) {
  #hero_banner .hero_bannerRight .hero_bannerRightWrapper {
    padding: 10px;
  }
}
#hero_banner .hero_bannerRight .hero_bannerRightWrapper::after {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #ffffff;
}
@media only screen and (max-width: 480px) {
  #hero_banner .hero_bannerRight .hero_bannerRightWrapper::after {
    top: 0%;
  }
}
#hero_banner .hero_bannerRight .hero_bannerRightWrapper h6 {
  font-size: 20px;
}
@media only screen and (max-width: 480px) {
  #hero_banner .hero_bannerRight .hero_bannerRightWrapper h6 {
    font-size: 16px;
  }
}
#hero_banner .hero_bannerRight .hero_bannerRightWrapper span {
  color: #fff;
  font-size: 14px;
}
@media only screen and (max-width: 480px) {
  #hero_banner .hero_bannerRight .hero_bannerRightWrapper span {
    font-size: 12px;
  }
}
#hero_banner .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 0.7;
  margin: 0 5px;
}
#hero_banner .swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 5px;
  background: #ffb703;
  opacity: 1;
  transition: all 0.2s ease;
}
#hero_banner .swiper-button-next, #hero_banner .swiper-button-prev {
  width: 35px;
  height: 35px;
  color: #505d60;
  top: 50%;
  background: #ffb703;
  border-radius: var(--border-radius-5px);
}
#hero_banner .swiper-button-next::after, #hero_banner .swiper-button-prev::after {
  font-size: 18px;
  font-weight: 900;
}
#hero_banner .swiper-button-next {
  right: 50px;
}
@media only screen and (max-width: 480px) {
  #hero_banner .swiper-button-next {
    right: 15px;
  }
}
#hero_banner .swiper-button-prev {
  left: 50px;
}
@media only screen and (max-width: 480px) {
  #hero_banner .swiper-button-prev {
    left: 15px;
  }
}

#flashNews {
  position: relative;
  background-color: crimson;
  color: #ffffff;
}
#flashNews .flashNews {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}
#flashNews .flashNews h3 {
  white-space: nowrap;
  margin: 0;
  font-size: 18px;
  line-height: 45px;
  background-color: #ffffff;
  color: #000000;
  padding: 0 20px;
}
#flashNews .flashNews ul {
  margin-bottom: 0;
  font-size: 15px;
}
#flashNews .flashNews ul li {
  margin-right: 50px;
}
#flashNews .flashNews ul li a {
  transition: var(--trans-nrml);
}
#flashNews .flashNews ul li a:hover {
  color: #ececec;
  text-decoration: underline;
}
#flashNews .flashNews button {
  color: crimson;
  white-space: nowrap;
  background: #fff;
  border: unset;
  padding: 5px 10px;
  border-radius: 4px;
}

#service_section {
  position: relative;
  padding: 4rem 0;
  background: #edfcff;
}
#service_section .nav-pills .nav-link {
  border: 1px solid var(--logo-clr);
  border-left: 5px solid var(--logo-clr);
}
#service_section .nav-pills .nav-link.active {
  border-left: 5px solid var(--yle-clr);
}
#service_section .service_sectionleft {
  background: #fff;
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--border-radius-10px);
  height: 100%;
}
#service_section .service_sectionleft .heading_title {
  background-color: var(--logo-clr);
  color: var(--font-clr-white-rglr);
  padding: 15px 15px;
  border-radius: var(--border-radius-10px) var(--border-radius-10px) 0 0;
  font-family: var(--heading-font);
  border-left: 5px solid #1b2426;
  margin-bottom: 0;
  font-size: var(--font-h5);
}
#service_section .service_sectionleft .service_sectionleftWrapper {
  padding: 20px 10px;
}
#service_section .links_list {
  padding: 0 10px;
  justify-content: center;
}
#service_section .links_list li {
  position: relative;
  transition: var(--trans-nrml);
  font-size: 12px;
  text-align: center;
  padding: 50px 0px 0px;
}
#service_section .links_list li:last-child {
  margin-bottom: 0;
}
#service_section .links_list li::before {
  top: 0;
  background-image: url(../images/icons/shield.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.notice_list {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 0;
}
.notice_list::-webkit-scrollbar {
  width: 4px;
  background: #f1f1f1;
}
.notice_list::-webkit-scrollbar-thumb {
  background: #888;
}
.notice_list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
  transition: var(--trans-nrml);
  padding-top: 5px;
  padding-left: 5px;
}
.notice_list li:last-child {
  margin-bottom: 0;
}
.notice_list li:hover {
  background-color: #f0f0f0;
}
.notice_list li:hover p {
  color: crimson;
}
.notice_list li p {
  margin-bottom: 5px;
  font-size: 15px;
}
.notice_list li .dateof__posted {
  position: relative;
  display: block;
  padding-left: 20px;
  font-weight: var(--weight-500);
  font-family: var(--heading-font);
  color: #6e71cc;
  margin: var(--margin-all);
  font-size: var(--font-small);
}
.notice_list li .dateof__posted::after {
  position: absolute;
  content: "";
  background-image: url(../images/icons/dateof__posted.svg);
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
  left: 0;
  top: 2px;
  width: 14px;
  height: 14px;
}

#notification_wrapper {
  position: relative;
  padding: 4rem 0;
  z-index: 1;
  background: url(../images/icons/bg-noise.png);
}
#notification_wrapper .notification_wrapperTop a {
  transition: var(--trans-nrml);
  border: 1px solid transparent;
}
@media only screen and (max-width: 480px) {
  #notification_wrapper .notification_wrapperTop a {
    padding: 5px !important;
  }
}
#notification_wrapper .notification_wrapperTop a:hover {
  background-color: #2072be !important;
  border-color: #6894bd;
  box-shadow: var(--box-shadow-lg);
}
#notification_wrapper .notification_wrapperTop a img {
  background: #e9e9e9;
  padding: 7px;
  border-radius: 5px;
  width: 70px;
  box-shadow: var(--box-shadow-lg);
}
#notification_wrapper .notification_wrapperTop a span.d-block {
  font-size: 14px;
  margin-top: 10px;
}
@media only screen and (max-width: 480px) {
  #notification_wrapper .notification_wrapperTop a span.d-block {
    font-size: 12px;
  }
}
#notification_wrapper .public_utilities {
  border-radius: var(--border-radius-10px);
  background-color: var(--font-clr-white-rglr);
  height: 100%;
}
#notification_wrapper .public_utilities ul.public_utilitiesUl {
  padding: 20px;
  margin-bottom: 0;
}
#notification_wrapper .public_utilities ul.public_utilitiesUl li {
  flex-basis: 20%;
  text-align: center;
  padding: 10px;
  transition: var(--trans-nrml);
  border-radius: var(--border-radius-5px);
}
#notification_wrapper .public_utilities ul.public_utilitiesUl li:hover {
  background-color: #ececec;
}
#notification_wrapper .public_utilities ul.public_utilitiesUl li a {
  display: block;
}
#notification_wrapper .public_utilities ul.public_utilitiesUl li a img {
  width: 50px;
  margin-bottom: 5px;
}
#notification_wrapper .public_utilities ul.public_utilitiesUl li a span {
  display: block;
  font-size: 14px;
}
#notification_wrapper .public_utilities .notice_list li p, #notification_wrapper .public_utilities .notice_list li .dateof__posted {
  font-size: 13px;
  font-weight: var(--weight-400);
}
#notification_wrapper .achievments_wrapper {
  border-radius: var(--border-radius-10px);
  background-color: var(--font-clr-white-rglr);
  height: 100%;
}
#notification_wrapper .achievments_wrapper ul {
  padding: 0 10px;
  max-height: 300px;
  overflow: auto;
}
#notification_wrapper .achievments_wrapper ul::-webkit-scrollbar {
  width: 4px;
  background: #f1f1f1;
}
#notification_wrapper .achievments_wrapper ul::-webkit-scrollbar-thumb {
  background: #888;
}
#notification_wrapper .achievments_wrapper ul li {
  font-size: 13px;
  margin: 10px 0;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 5px;
  color: #000000;
}
#notification_wrapper .achievments_wrapper ul li:hover {
  color: #fa0000;
}

.heading_title {
  font-size: var(--font-h4);
  padding-bottom: 8px;
  margin-bottom: 15px;
  padding-left: 5px;
  font-family: var(--heading-font);
  border-bottom: 2px solid #c3c3c3;
  position: relative;
  color: var(--logo-clr);
}
.heading_title::after {
  position: absolute;
  content: "";
  width: 180px;
  height: 2px;
  background-color: var(--logo-clr);
  bottom: -2px;
  border-radius: 2px;
  left: 0;
}
.heading_title::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 10px 7px;
  border-color: transparent transparent var(--logo-clr) transparent;
  bottom: -2px;
  left: 20px;
}
.heading_title.center_title {
  text-align: center;
}
.heading_title.center_title::after {
  left: 50%;
  transform: translateX(-50%);
}
.heading_title.center_title::before {
  left: 50%;
  transform: translateX(-50%);
}
.heading_title.noBorder {
  border: unset;
}
.heading_title.noBorder::after {
  display: none;
}
.heading_title.noBorder::before {
  display: none;
}

#footer_container {
  position: relative;
  background-color: var(--logo-clr);
}
#footer_container .logowrapper {
  background-color: #ffffff;
}
#footer_container .logowrapper ul {
  margin-bottom: 0;
}
#footer_container .logowrapper ul li {
  background-color: #fff;
  border-right: 1px solid #e7e7e7;
}
#footer_container .logowrapper ul li:first-child {
  border-left: 1px solid #e7e7e7;
}
#footer_container .logowrapper ul li a {
  display: block;
}
#footer_container .footer_containerWrapper {
  background-color: var(--font-clr-dark-rglr);
  padding: 5rem 0 3rem;
}
#footer_container .footer_containerWrapper .footer_container .footer_inner {
  color: #ffffff;
  border-radius: var(--border-radius-10px);
}
#footer_container .footer_containerWrapper .footer_container .footer_inner .heading_title {
  border-color: var(--yle-clr);
}
#footer_container .footer_containerWrapper .footer_container .footer_inner ul {
  padding: 20px 0 0;
}
#footer_container .footer_containerWrapper .footer_container .footer_inner ul li {
  font-size: var(--font-small);
  margin-bottom: 5px;
}
#footer_container .footer_containerWrapper .footer_container .footer_inner ul li.ff {
  color: var(--yle-clr);
  font-size: var(--font-regular);
  font-weight: var(--weight-600);
}
#footer_container .footer_containerWrapper .footer_container .footer_inner ul li a {
  transition: var(--trans-nrml);
}
#footer_container .footer_containerWrapper .footer_container .footer_inner ul li a:hover {
  color: var(--yle-clr);
  padding-left: 4px;
}
#footer_container .footer_btmWrapper {
  padding: 15px 0;
  color: var(--font-clr-white-light);
  font-size: var(--font-small);
}
@media only screen and (max-width: 480px) {
  #footer_container .footer_btmWrapper ul {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
#footer_container .footer_btmWrapper ul li {
  padding: 0 15px;
  border-right: 1px solid #c3c3c3;
}
@media only screen and (max-width: 480px) {
  #footer_container .footer_btmWrapper ul li {
    border-right: unset;
    padding: 0;
  }
}
#footer_container .footer_btmWrapper ul li:last-child {
  padding-right: 0;
  border-right: unset;
}
#footer_container .footer_btmWrapper ul li:first-child {
  padding-left: 0;
}
#footer_container .footer_btmWrapper ul li a {
  transition: var(--trans-nrml);
}
#footer_container .footer_btmWrapper ul li a:hover {
  color: #c3c3c3;
  text-decoration: underline;
}

#map_section {
  padding: 3rem 0;
  position: relative;
}
#map_section .nav-pills .nav-link {
  border: 1px solid var(--logo-clr);
  border-left: 5px solid var(--logo-clr);
}
#map_section .nav-pills .nav-link.active {
  border-left: 5px solid var(--yle-clr);
}
#map_section .notification_wrapperTop a {
  transition: var(--trans-nrml);
  border: 1px solid transparent;
}
@media only screen and (max-width: 480px) {
  #map_section .notification_wrapperTop a {
    padding: 5px !important;
  }
}
#map_section .notification_wrapperTop a:hover {
  background-color: #2072be !important;
  border-color: #6894bd;
  box-shadow: var(--box-shadow-lg);
}
#map_section .notification_wrapperTop a img {
  background: #e9e9e9;
  padding: 7px;
  border-radius: 5px;
  width: 70px;
  box-shadow: var(--box-shadow-lg);
}
#map_section .notification_wrapperTop a span.d-block {
  font-size: 14px;
  margin-top: 10px;
}
@media only screen and (max-width: 480px) {
  #map_section .notification_wrapperTop a span.d-block {
    font-size: 12px;
  }
}

#gallery_section {
  padding: 5rem 0;
  position: relative;
  background: linear-gradient(45deg, #505d60, #2c6e7d);
  background: #f0f5ff;
}
#gallery_section .gallery_sectionWrapper {
  padding: 20px;
  background: #fff;
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--border-radius-10px);
}
#gallery_section .gallery_sectionWrapper .gallery_sectionImg {
  cursor: pointer;
}
#gallery_section .gallery_sectionWrapper .gallery_sectionVideo {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
#gallery_section .gallery_sectionWrapper .gallery_sectionVideo::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  inset: 0;
  transition: var(--trans-nrml);
  opacity: 0;
}
#gallery_section .gallery_sectionWrapper .gallery_sectionVideo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/icons/videoIcon.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  inset: 0;
  transition: var(--trans-nrml);
  opacity: 0.5;
}
#gallery_section .gallery_sectionWrapper .gallery_sectionVideo:hover::before, #gallery_section .gallery_sectionWrapper .gallery_sectionVideo:hover::after {
  opacity: 1;
}
#gallery_section .notification_wrapperRight .swiper img {
  border-radius: var(--border-radius-10px);
}
#gallery_section .notification_wrapperRight .swiper .swiper-button-next, #gallery_section .notification_wrapperRight .swiper .swiper-button-prev {
  width: 35px;
  height: 35px;
  color: #ffffff;
  top: 50%;
  background: var(--logo-clr);
  border-radius: var(--border-radius-5px);
}
#gallery_section .notification_wrapperRight .swiper .swiper-button-next::after, #gallery_section .notification_wrapperRight .swiper .swiper-button-prev::after {
  font-size: 18px;
  font-weight: 900;
}
#gallery_section .notification_wrapperRight .swiper .swiper-button-next {
  right: 5px;
}
#gallery_section .notification_wrapperRight .swiper .swiper-button-prev {
  left: 5px;
}

#stats_wrapper {
  position: relative;
  padding: 2rem 0;
  z-index: 1;
}
#stats_wrapper .stats_wrapper .stats_outerWrapper {
  position: relative;
  padding: 15px 5px;
  background-color: #ffffff;
  color: var(--bg-clr);
  border-right: 1px solid #e0e0e0;
}
@media only screen and (max-width: 480px) {
  #stats_wrapper .stats_wrapper .stats_outerWrapper {
    border-right: unset;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 0 0 10px;
  }
}
#stats_wrapper .stats_wrapper .stats_outerWrapper .stats_imgWrapper {
  width: 45px;
}
#stats_wrapper .stats_wrapper .stats_outerWrapper .stats_imgWrapper img {
  width: 100%;
}
#stats_wrapper .stats_wrapper .stats_outerWrapper .stats_textWrapper h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
}
#stats_wrapper .stats_wrapper .stats_outerWrapper .stats_textWrapper small {
  display: block;
  color: #525151;
  margin-top: 5px;
}

#blog_section {
  position: relative;
  padding: 2rem 0 5rem;
}
#blog_section .social_tab {
  position: relative;
  padding: 20px;
  background: #f0f5ff;
  border-radius: 10px;
  box-shadow: var(--box-shadow-lg);
}
#blog_section .blog_wrapper {
  position: relative;
  border-radius: var(--border-radius-10px);
  border: 1px solid #d1d1d1;
  transition: var(--trans-nrml);
  margin: 2px;
}
#blog_section .blog_wrapper .blog_imgWrapper {
  overflow: hidden;
  border-radius: var(--border-radius-10px);
  transition: var(--trans-nrml);
}
#blog_section .blog_wrapper .blog_textWrapper {
  position: relative;
  padding: 20px 10px;
  transition: var(--trans-nrml);
}
#blog_section .blog_wrapper .blog_textWrapper h4 {
  font-size: var(--font-h5);
  font-family: var(--heading-font);
  margin-bottom: 0;
}
#blog_section .blog_wrapper .blog_textWrapper span {
  position: relative;
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
#blog_section .blog_wrapper:hover {
  border: 1px solid crimson;
}
#blog_section .blog_wrapper:hover h4 {
  color: crimson;
}
#blog_section .swiper-button-next, #blog_section .swiper-button-prev {
  width: 35px;
  height: 35px;
  color: #ffffff;
  top: 50%;
  background: var(--logo-clr);
  border-radius: var(--border-radius-5px);
}
#blog_section .swiper-button-next::after, #blog_section .swiper-button-prev::after {
  font-size: 18px;
  font-weight: 900;
}
#blog_section .swiper-button-next {
  right: 5px;
}
#blog_section .swiper-button-prev {
  left: 5px;
}

#breadcrumb_section {
  position: relative;
  background: #e3e3e3;
}
@media only screen and (max-width: 480px) {
  #breadcrumb_section .img-fluid {
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#about_section {
  position: relative;
  padding: 4rem 0;
}
@media only screen and (max-width: 480px) {
  #about_section {
    padding: 3rem 0;
  }
  #about_section .table-bordered > :not(caption) > * > * {
    font-size: 15px;
  }
}
#about_section .about_sectionLeft {
  padding-right: 50px;
}
@media only screen and (max-width: 480px) {
  #about_section .about_sectionLeft {
    padding-right: 0;
  }
}
#about_section .about_sectionLeft p, #about_section .about_sectionLeft ul {
  font-size: 15px;
}
#about_section .about_sectionRight {
  border-radius: var(--border-radius-15px);
  overflow: hidden;
  box-shadow: var(--box-shadow-lg);
}

.btn-close {
  position: absolute;
  top: -15px;
  right: -15px;
  opacity: 1;
  width: 35px;
  height: 35px;
  padding: 0;
  z-index: 11;
  background-image: url(../images/close.png);
  background-size: 35px;
  background-color: #fff;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
}
.btn-close:focus {
  box-shadow: unset;
}

#VidoeModal .modal-body {
  padding-bottom: 0.7rem;
}

/* Menu Toggle */
.toggle {
  position: relative;
  width: 50px;
  height: 50px;
  /* background: #fff;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.08);
  border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.toggle span {
  position: absolute;
  width: 35px;
  height: 3px;
  background: #ffffff;
  border-radius: 10px;
  transition: 0.5s;
  left: 10px;
}

.toggle span:nth-child(1) {
  transform: translateY(-10px);
  width: 25px;
  left: 15px;
  left: 20px;
}

.toggle.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
  left: 5px;
}

.toggle span:nth-child(2) {
  transform: translateY(10px);
  width: 15px;
  /* left: 15px; */
  left: 29px;
}

.toggle.active span:nth-child(2) {
  width: 40px;
  transform: translateY(0) rotate(315deg);
  transition-delay: 0.25s;
  left: 5px;
}

.toggle.active span:nth-child(3) {
  transform: translateX(60px);
}

/* End Menu Toggle */
label {
  font-size: 14px;
}

.form-control {
  border-radius: 0;
  margin: 8px 0;
  height: 44px;
  font-size: 15px;
}
.form-control:focus {
  box-shadow: unset;
  border-color: var(--logo-clr);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}/*# sourceMappingURL=style.css.map */