
@{
    ViewData["Title"] = "RTI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about_section">
    <div class="container">
        <div class="about_section">
            <div class="row align-items-center g-lg-5 g-3">
                <div class="col-lg-12">
                    <div class="about_sectionBottom">
                        <h3 class="heading_title center_title">RTI</h3>
                        <div id="abtus">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
$(document).ready(function() {
    Getaboutus();
    function Getaboutus() {
    $.ajax({
        url: '/Admin/Content/GetPageContent', //URL to upload files
        type: "POST", //as we will be posting files and other method POST is used
        dataType: "json",
        data: {
            "pid": 4
        },
        content: "application/json; charset=utf-8",
        success: function(data) {
            var str = data.description;
            if(str!=null)
            {

                $("#abtus").html(str);
            }

        },
        error: function(err) {
            alert(err.status);
        }
    });
}
});
    </script>
}

